<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#/pos">Start POS</a></li>
  <li><a href="#/category">Add Category</a></li>
  <li><a href="#/manage">Add Menu</a></li>
  <li><a href="#/purchase">Purchase Log</a></li>
  <li><a class="active" href="#/statistics">Statistics</a></li>
  <li><a href="#/employee">Manage Employee</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="#/login">Logout</a></li>
  </ul>
</ul>

<!-- manage view -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2><span class="text-warning">Statistics</span> </h2>
        <span class="pull-right text-muted">Today is {{now | date : 'MMM dd, yyyy'}}</span>
        <div class="text-success">{{store.STORE_NAME}}</div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <div class="col-xs-offset-2 col-xs-8">

        <div id = "manage" ng-controller = "StatisticsController">
          <table class = "table">
            <thead>
            <th><div class="text-info">Date</div></th>
            <th><div class="text-info">Total</div></th>
            <th>&nbsp;</th>
            </thead>
            <tbody>

            <tr ng-repeat = "item in itemlist">
              <td>{{item.DATE}}</td>
              <td>{{item.SUM}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
